

<template name="hello">
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
</template>

<template name="register">
    <h1>Register</h1>
</template>

<template name="login">
    <h1>Login</h1>
</template>

<template name="home">
    <h1>Home</h1>
</template>

<template name="main">
    <h1>Routing app</h1>
    {{> navigation}}
    <hr>
    <div>
        {{> lists}}
        {{> yield}}
    </div>
    <span>Copyright 2020</span>
</template>

<template name="navigation">
    <div><ul>
        <li>Links</li>
        <li><a href="{{pathFor route='home'}}">Home</a></li>
        <li><a href="{{pathFor route='register'}}">Register</a></li>
        <li><a href="{{pathFor route='login'}}">Login</a></li>
    </ul></div>
</template>

<template name="addList">
    <form>
        Create a list:
        <input type="text" name="listName" placeholder="Enter list name.." />
    </form>
</template>

<template name="lists">
    <h2>Lists</h2>
    {{> addList}}
    <hr>
    {{#each list}}
        <li><a href="{{pathFor route='listPage'}}">{{name}}</a></li>
    {{/each}}
</template>

<template name="listPage">
    <h2>List item</h2>
    <h3>{{name}}</h3>
    {{> todos}}
</template>

<template name="todos">
    {{> addTodo}}
     <ul>
        {{#each todo}}
            {{> todoItem}}
        {{/each}}
    </ul>
</template>

<template name="todoItem">
    <li>{{name}}</li>
     [<a href="#" class="delete-todo">Delete</a>]
</template>

<template name="addTodo">
    <form>
        Create a task for {{name}}:
        <input type="text" placeholder="Type a task here..." name="todoName">
    </form>
</template>


